<div>

    <div>
        <form action='/dashboard/createpath' method='post'> 

            <div class="form-group">
                <label for="formGroupExampleInput">Source Name</label>
                <input name='source' type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Destination Name</label>
                <input name='destination' type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>

            <div class="form-group">
                <label for="formGroupExampleInput">Cost:</label>
                <input name='cost' type="number" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Distance:</label>
                <input name='distance' type="number" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>

            <div class="form-group">
                <label for="formGroupExampleInput">Start Time:</label>
                <input name='start_time' type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">end_time:</label>
                <input name='end_time' type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>
            <button >Submit</button>
        </form>

    </div>



</div>