
             <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 
    <style>

        a{
            text-decoration: none;
        }
        a:hover{
             text-decoration: none;
        }
        .well:hover{
            opacity: 0.7;
        }
      /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
      .row.content {height: 550px}
      
      /* Set gray background color and 100% height */
    
      /* On small screens, set height to 'auto' for the grid */
      @media screen and (max-width: 767px) {
        .row.content {height: auto;} 
      }
    </style>
 
 
  
 
  <div class="container-fluid">
    <div class="row content">
     
      <br>
      
      <div class="col-sm-12">
        <a href='/dashboard/bookings'>
            <div class="well bg-danger text-white">
                <h1>Bookings</h1>
               
              </div>
        </a>
        <div class="row">
          <div class="col-sm-3">
            <a href='/dashboard/allusers/'>
                <div class="well bg-success">
                    <h1>Users</h1>
                     
                  </div>
            </a>
          </div>
          <div class="col-sm-3">
            <a href='/dashboard/flightroutes'>

                <div class="well bg-info text-white" v>
                    <h2> Flight Routes </h2>
                     
                  </div>
            </a> 
          </div>
          <div  class="col-sm-3  ">
            <a href='/dashboard/addpath'>
                <div class="well bg-warning">
                    <h3>Create New Path</h3>
                     
                  </div>
            </a>
          </div>
          <div class="col-sm-3">
           <a href='/dashboard/update_path'>
            <div class="well bg-primary">
                <h4>Add New Feature</h4>
                <p>30%</p> 
              </div>
           </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="well bg-warnin">
               <p>Add New Feature</p> 
              
               
            </div>
          </div>
          <div class="col-sm-4">
            <a href='/cc/chatroom'>
                <div class="well bg-primary">
                   <p>Add New Feature</p>
                  </div>
            </a>
          </div>
          <div class="col-sm-4">
            <a href='/'>
                <div class="well bg-info">
                    <p>Add New Feature</p> 
                    
                    
                  </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <a href='/'>
                <div class="well bg-secondary text-white">
                    <p>Add New Feature</p> 
                 
                    
                  </div>
            </a>
          </div>
          <div class="col-sm-4">
            <a href='/'>
                <div class="well bg-dark text-white">
                    <p>Add New Feature</p> 
                    
                   
                  </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
