 
<link type="text/css" rel="stylesheet" href="/css/sign_up_in_out.css">

<div class="outer-r outer" >
<div class="container-r container" >
	<form action='/user/password_recovery' method='post'>
        <h2 style='color:white'>Password Reovery</h3>
     <p>Password will be sent to following Email:</p>
	<div class='input'>
		<i class="fas fa-user"></i><input  class="input_tag" name='email' required type='email' placeholder="Enter Email">
	</div>
 
	<div class='input'><button class="btn_">Send Mail</button></div>
</form>
</div>
</div>