<html>
    <head>
        <link rel='stylesheet' type='text/css' href='/css/signuser.css'>

        <script src="https://kit.fontawesome.com/fdb222da35.js" crossorigin="anonymous"></script>
        <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js'></script>
    </head>
    <body>
        <%-include("_header")%> 
         
        <div>
        </div>
        <%-body%>
    </body>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  
<script>
<%if(flash.success && flash.success.length>0){%>
    new Noty({
        theme:'relax',
        text:'<%=flash.success%>',
        type:"success",
        layout:'topRight',
        timeout:1500
    }).show()  
<%}%>
<%if(flash.error && flash.error.length>0){%>
    new Noty({
        theme:'relax',
        text:'<%=flash.error%>',
        type:"error",
        layout:'topRight',
        timeout:1500
    }).show()  
<%}%>
</script>
</html>