<div id='outer' class='inline' style='height:auto'>

<div id='container'>
 
    <form action='/algo/path' method='post'>
        <div class='input inline'> <select name='source'>
            <option> Banglore</option>
            <option> Hyderabad</option>
            <option> Chennai </option>
            <option> Delhi </option>
            <option>Amritsar</option>
            <option>Bhopal</option>
            <option>Noida</option>
            <option>Amritsar</option>
            <option>Gurgaon</option>
            <option>Pudichery</option>
        </select></div>
        
       
        <div class='input inline'> <select name='destination'>
            <option> Banglore</option>
            <option> Hyderabad</option>
            <option> Chennai </option>
            <option> Delhi </option>
            <option>Amritsar</option>
            <option>Bhopal</option>
            <option>Noida</option>
            <option>Amritsar</option>
            <option>Gurgaon</option>
            <option>Pudichery</option>
        </select></div>
       <div class='input inline' >
        <button ><i class='fa fa-search'></i></button>
       </div>
    </form>
    
    </div>
    

</div>
<div id='outer2' style='height: auto;'>

 
     <%count=0%>
    <%if(locals.values){%>
    
        <%for(value of values){%>
       <div   id='container' class='full_width' style=' margin: 10px;'>
        <div id=' ' style='text-align:center;'>
           
          
           <div class=' '><b>Path:</b>  <%for(let i of value){%><%=i%>--><%}%><br></div><br>
           <div class=' '><b>Price:</b> <%=locals.pric_dist[count][0]%> <br></div><br>
            <div class=' '><b>Distance:</b> <%=locals.pric_dist[count][1]%> <br></div>
        </div>
        
       </div>
      <%count+=1%>
       <%}%>
        
   <%}else{%>    
    <div id='container' class='full_width'><h1>Sorry No Expert in your area</h1></div>
    <%}%>
</div>
 