<link rel='stylesheet' type='text/css' href='/css/signuser.css'>



<div id='outer'>
<div id='container'>
	<form action='/user/routesearch' method='post'>
		<h2 style='color:white'>Sign In</h3>
	<div class='input'>
		<i class="fas fa-user"></i>
		<input name='email' type='email' >
	</div>
	<div class='input'>
		 
		<i class="fas fa-key"></i> <input type='password'  name='password'>
	</div> 
	<div><small>Don't have an account?<a href='/user/signup'> click here</a>                </small></div>
	<div class='input'><button>Signin</button></div>
	<div style='text-align: center;'> Or Login with<br><a href='/user/auth/google'><h4><i style='color:white' class='fab fa-google'>G</i></h4></a> </div>
</form>
</div>
</div>