 
<link type="text/css" rel="stylesheet" href="/css/sign_up_in_out.css">

<div   class="outer outer-r">
<div  class='container container-r'>
	<form action='/user/createuser' method='post'>
		<h2 style='color:white'>Sign Up</h2>
		<div class='input'>
			<i class="fas fa-user"></i>
			<input class="input_tag" name='name' placeholder="Username" type='text' >
		</div>
	<div class='input'>
		<i class="fas fa-at"></i>
		<input name='email' class="input_tag" placeholder="Email" type='email' >
    </div>
    <div class='input'>
		<i class="fas fa-phone"></i>
		<input name='mobile' class="input_tag" placeholder="Mobile Number" type='text' >
	</div>
	<div class='input'>
		 
		<i class="fas fa-key"></i></i> <input class="input_tag" type='password' placeholder="Password"  name='password'>
	</div> 
	<div class='input'>
		 
		<i class="fas fa-key"></i><input type='password' class="input_tag" placeholder="Confirm-password" name='re_password'>
    </div> 
  
    <div><small>Already have an Account?<a href='/user/signin'> click here</a>                </small></div>
    <div class='input inline'><button class="btn_">Sign Up</button></div>
</form>
</div>
</div>

