a:link{
    text-decoration: none !important;
    transition-duration: 1s !important;
     
}
.nav_link{
    display: inline-block;
    transition-duration: 1s;
}
.header_nav{
    padding:10px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position:sticky;
    top:0px;
    z-index: 1;
    transition-duration: 0.5s;
}
.header_nav span{
    margin-right: 10px;
    margin-left: 10px;
    color:white;
 }

.hover_span{
    transition-duration: 0.5s;
}
.header_nav .icon{
    display: none;
}
.left_nav{
    transition-duration: 1s;
}


@media screen and (max-width:600px){
    .nav_link{
    display: none;}
    .left_nav .icon{
    float:right;
    display:block;
    }
}
 
@media screen and (max-width:600px){
    .responsive .nav_link{
        display:block;
    }
    .header_nav{
        display:block;       
    }
    .nav_link{
        padding:10px;
    }
    .nav_link:hover{
        background-color:green;
        color:black
    }
}
  
 