<html>
<head>
    <style>
        body{
            background-color: rgb(0, 142, 224);
            font-style: italic;
            text-emphasis-color: white;
            color:white;
            padding:20px;
            padding-left: 40px;
        }
        h1{
            color:rgb(255, 198, 187)
        }
        p{
            color:turquoise
        }
        h2{
            color:violet
        }
    </style>
</head>
<body style="background-color: rgb(0, 142, 224);color:white;padding:40px">
<h1>Sign Up Successful</h1>
<h2>Hi <%=user.name%>!</h2>
<h3>Your Signup for Plane route finder is succesful</h3>
<h3>please don't share your username and password with anyone</h3>
<p>From</p>
<p>The CEO</p>
<p>Bakka Uday Kiran</p>
</body>
</html>